#!/system/bin/sh

bin_name="tpclash-mihomo-android-arm64"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
clash_dns_listen="0.0.0.0:${clash_dns_port}"
clash_fake_ip_range="28.0.0.1/8"
tun_device="Meta"

#启用clash订阅配置，节点订阅地址和节点分享链接二选一
sub_enable=true 
#节点订阅地址，支持解析V2rayN等工具使用的普通订阅，没有请保持默认
subscribe="http://127.0.0.1" 
#节点分享链接，支持多行URI格式和纯base64编码格式，没有请留空
nodes=''

box_user_group="root:net_admin"
# If you want to change the user or group, you must make the Box core in the /system/bin directory, otherwise the changes will not take effect.
# If you are using Magisk, you can copy the Box core files (sing-box, clash, etc.) to /data/adb/modules/bin_files/system/bin/ and reboot the phone
bin_name_list=("tpclash-mihomo-android-arm64")
box_path="/data/adb/tpclash"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"
tunid_file="${run_path}/tun.id"
clash_path="${box_path}/clash"


intranet=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fe80::/10 ff00::/8)

ipv6="disable"

phy_if="wlan0" #APP模式需设置出口网卡名称
proxy_method="TPCLASH"
# REDIRECT: TCP only 
# TPROXY: TCP + UDP
# MIXED: REDIRECT TCP + TUN UDP
# APP: TUN
# TPCLASH: TPCLASH

proxy_mode="blacklist"
# blacklist / whitelist / core
user_packages_list=()
# Android User:Package Name, For example:
# user_packages_list=("0:com.android.captiveportallogin" "10:com.tencent.mm")

ap_list=("wlan+" "eth+" "ap+" "rndis+")
ignore_out_list=()

